
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // A user can read/write their own profile.
      // A PATRON can read the profile of a RESPONSABLE they manage.
      allow read: if request.auth != null && (
        request.auth.uid == userId || 
        (exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
         get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'PATRON' &&
         resource.data.managerId == request.auth.uid)
      );

      // A user can update their own profile.
      allow write: if request.auth != null && request.auth.uid == userId;
          
      // A PATRON can create a user document for a RESPONSABLE
      allow create: if request.auth != null &&
                      request.resource.data.role == 'RESPONSABLE' &&
                      request.resource.data.managerId == request.auth.uid &&
                      get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'PATRON';


      // Subcollections
      match /{subcollection}/{docId} {
        // A user can read/write to their OWN subcollections.
        // A PATRON can read from their managed RESPONSABLE's subcollections.
        allow read: if request.auth != null && (
          request.auth.uid == userId ||
          (exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
           get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'PATRON' &&
           get(/databases/$(database)/documents/users/$(userId)).data.managerId == request.auth.uid)
        );
        
        // Only the user themselves can write to their subcollections.
        // This includes transactions, recaps, clockIns etc.
        allow write: if request.auth != null && request.auth.uid == userId;

         match /comments/{commentId} {
            // A PATRON can write a comment on a recap of a user they manage.
            // A user can write a comment on their own recap.
             allow write: if request.auth != null && (
               (
                  get(/databases/$(database)/documents/users/$(userId)).data.managerId == request.auth.uid &&
                  get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'PATRON'
               ) || 
                request.auth.uid == userId
             );
              
             allow read: if request.auth != null && (
                request.auth.uid == userId ||
                (exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
                get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'PATRON' &&
                get(/databases/$(database)/documents/users/$(userId)).data.managerId == request.auth.uid)
            );
        }
      }
    }
  }
}
