
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow get, update, delete: if isOwner(userId);
      allow create: if isSignedIn() && request.resource.data.id == userId;
      allow list: if isSignedIn();

      // Projects are owned by the user.
      match /projects/{projectId} {
        allow read, create, update, delete: if isOwner(userId) && request.resource.data.authorId == userId;

        // All project-specific data is nested under the project.
        // Access is granted if the user owns the parent project.
        match /recaps/{recapId} {
          allow read, write: if isOwner(userId);
          
          match /comments/{commentId} {
            allow read, write: if isOwner(userId);
          }
        }
        
        match /events/{eventId} {
          allow read, write: if isOwner(userId);
        }
        
        match /documents/{documentId} {
          allow read, write: if isOwner(userId);
        }
        
        match /transactions/{transactionId} {
          allow read, write: if isOwner(userId);
        }
      }
    }
  }
}
