@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 60% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 243 75% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 258 89% 71%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 243 75% 62%;
    --chart-1: 243 75% 62%;
    --chart-2: 258 89% 71%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 1rem;

    --sidebar-background: 226 25% 12%; /* Dark Blue/Black */
    --sidebar-foreground: 231 60% 94%;
    --sidebar-border: 226 25% 20%;
    --sidebar-accent: 243 75% 62%; /* Blue for active item */
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-ring: 243 75% 62%;
  }

  .dark {
    --background: 235 25% 15%;
    --foreground: 231 60% 94%;
    --card: 235 25% 20%;
    --card-foreground: 231 60% 94%;
    --popover: 235 25% 15%;
    --popover-foreground: 231 60% 94%;
    --primary: 243 75% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 235 25% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 235 25% 25%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 258 89% 71%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 235 25% 25%;
    --input: 235 25% 25%;
    --ring: 243 75% 62%;
    --chart-1: 243 75% 62%;
    --chart-2: 258 89% 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
